<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán Bị Hủy</title>
</head>
<body>
    <h1>Thanh Toán Bị Hủy!</h1>
    <p>Thanh toán của bạn đã bị hủy. Cảm ơn bạn đã ghé thăm.</p>
    <a href="/">Quay lại trang chính</a>
</body>
</html>
